.__body {
    padding-top: 40px;
    font-family: 'Courier New', monospace;
    text-align: center;
}

#__target {
    font-size: 48px;
    letter-spacing: 3px;
    border: 1px solid black;
    height: 100px;
    width: 800px;
    display: inline-block;
}

.__info {
    color: #ccc;
}